.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  background: #282937;
  font-family: "Helvetica", "Helvetica Nueue", sans-serif;
}

button:focus {
  outline: none;
}

.app {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: #fafafa;
}

.time-circle {
  width: 100%;
  max-width: 20rem;
  position: relative;
  display: grid;
}

.time-circle::before {
  border: 3px solid #fafafa;
  border-radius: 100%;
  animation: 1s linear infinite alternate abberation, 4s linear infinite spin;
  padding-top: 100%;
  content: "";
  position: relative;
  pointer-events: none;
  z-index: -1;
}

.time-circle.paused:before {
  animation: none;
  transition: 0.3s transform;
}

@keyframes abberation {
  from {
    box-shadow: 0 0 0 0 #cb2918, 0 0 0 0 #56719a;
  }
  to {
    box-shadow: 0.25rem 0.125rem 0 0 #cb2918, -0.25rem -0.125rem 0 0 #56719a;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.time {
  padding-top: 1rem;
  font-size: 5rem;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  justify-items: center;
}

.buttons .play-pause {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background: #6c7cb3;
  cursor: pointer;
  transition: background 0.3s;
  color: white;
  font-size: large;
}

.play-pause:hover {
  background: darken(#6c7cb3, 10%);
}

.reset {

  border: none;
  padding: 0;
  margin: 10px;
  background: none;
  color: #fafafa;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.reset:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.row {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}